In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [3]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

dataset = [
    ['A', 'A', 'B', 'B', 'C', 'C', 'D', 'E', 'F', 'G', 'H', 'I'],
    ['A', 'B', 'B', 'C', 'C', 'C', 'D', 'E', 'E', 'F', 'G', 'G', 'H'],
    ['A', 'B', 'C', 'C', 'C', 'D', 'E', 'E', 'F', 'G', 'G', 'H'],
    ['A', 'B', 'B', 'C', 'F', 'F', 'H', 'H', 'I', 'I']
]

In [4]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

      A     B     C      D      E     F      G     H      I
0  True  True  True   True   True  True   True  True   True
1  True  True  True   True   True  True   True  True  False
2  True  True  True   True   True  True   True  True  False
3  True  True  True  False  False  True  False  True   True

In [5]:
apriori(df, min_support=1.0,use_colnames=True)

    support         itemsets
0       1.0              (A)
1       1.0              (B)
2       1.0              (C)
3       1.0              (F)
4       1.0              (H)
5       1.0           (A, B)
6       1.0           (A, C)
7       1.0           (F, A)
8       1.0           (H, A)
9       1.0           (B, C)
10      1.0           (F, B)
11      1.0           (H, B)
12      1.0           (F, C)
13      1.0           (H, C)
14      1.0           (H, F)
15      1.0        (A, C, B)
16      1.0        (F, A, B)
17      1.0        (H, A, B)
18      1.0        (F, A, C)
19      1.0        (H, A, C)
20      1.0        (H, F, A)
21      1.0        (F, B, C)
22      1.0        (H, B, C)
23      1.0        (H, F, B)
24      1.0        (H, F, C)
25      1.0     (F, A, C, B)
26      1.0     (H, A, C, B)
27      1.0     (H, F, A, B)
28      1.0     (H, F, A, C)
29      1.0     (H, F, B, C)
30      1.0  (A, B, H, C, F)

In [8]:
dataset = [
['C', 'E', 'E', 'K', 'K', 'M', 'N', 'N', 'O', 'O', 'Y', 'Y'],
['C', 'C', 'D', 'D', 'D', 'E', 'K', 'O', 'O', 'Y'],
['A', 'A', 'E', 'E', 'K', 'K', 'K', 'M', 'M', 'N', 'N'],
['A', 'C', 'C', 'C', 'M', 'O', 'U', 'U', 'U', 'Y'],
['C', 'E', 'E', 'I', 'I', 'I', 'I', 'K', 'K', 'O', 'O', 'O']
]

In [9]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

       A      C      D      E      I      K      M      N      O      U      Y
0  False   True  False   True  False   True   True   True   True  False   True
1  False   True   True   True  False   True  False  False   True  False   True
2   True  False  False   True  False   True   True   True  False  False  False
3   True   True  False  False  False  False   True  False   True   True   True
4  False   True  False   True   True   True  False  False   True  False  False

In [10]:
apriori(df, min_support=0.6,use_colnames=True)

    support      itemsets
0       0.8           (C)
1       0.8           (E)
2       0.8           (K)
3       0.6           (M)
4       0.8           (O)
5       0.6           (Y)
6       0.6        (E, C)
7       0.6        (K, C)
8       0.8        (C, O)
9       0.6        (Y, C)
10      0.8        (K, E)
11      0.6        (E, O)
12      0.6        (K, O)
13      0.6        (Y, O)
14      0.6     (K, E, C)
15      0.6     (C, E, O)
16      0.6     (K, C, O)
17      0.6     (Y, C, O)
18      0.6     (K, E, O)
19      0.6  (K, C, E, O)